In [42]:
import numpy as np
np.random.seed(99)

In [43]:
a = np.random.choice([True,False], size=100)
a

array([False, False, False,  True, False,  True,  True,  True, False,
        True, False, False,  True, False, False, False, False,  True,
       False, False,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True, False,
       False,  True, False,  True,  True,  True, False,  True, False,
       False,  True, False, False, False, False, False,  True,  True,
        True, False, False,  True,  True,  True, False, False, False,
        True, False,  True, False, False, False, False, False, False,
       False,  True, False,  True, False,  True,  True, False,  True,
       False,  True, False,  True, False, False, False, False,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True])

In [48]:
false_to_true_transitions = np.logical_and(np.logical_not(a[:-1]),a[1:])
false_to_true_transitions

array([False, False,  True, False,  True, False, False, False,  True,
       False, False,  True, False, False, False, False,  True, False,
       False,  True, False,  True, False,  True, False, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False,  True, False, False, False,  True, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False, False,  True,
       False,  True, False, False, False, False, False, False, False,
        True, False,  True, False,  True, False, False,  True, False,
        True, False,  True, False, False, False, False,  True, False,
       False, False,  True, False, False,  True, False,  True, False])

In [57]:
np.sum(np.logical_and(np.logical_not(a[:-1]),a[1:]))

27

In [61]:
np.sum(~a[:-1] & a[1:])

27

In [63]:
count = 0
for i, c in enumerate(a[:-1]):
    if not a[i] and a[i+1]:
        count += 1
count

27

In [33]:
t = (1,2)

In [34]:
a, b = t
a

1

In [35]:
b

2

In [68]:
a = np.arange(12).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [70]:
np.sum(a)

66

In [71]:
np.sum(a, axis=1)

array([ 6, 22, 38])

In [73]:
np.cumsum(a, axis=0)

array([[ 0,  1,  2,  3],
       [ 4,  6,  8, 10],
       [12, 15, 18, 21]])

### Broadcasting

In [74]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [75]:
a + 1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [76]:
a + a

array([[ 0,  2,  4,  6],
       [ 8, 10, 12, 14],
       [16, 18, 20, 22]])

In [78]:
a + np.array([100,200,300,400])

array([[100, 201, 302, 403],
       [104, 205, 306, 407],
       [108, 209, 310, 411]])

In [79]:
a.T

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [83]:
(a.T + np.array([100,200,300])).T

array([[100, 101, 102, 103],
       [204, 205, 206, 207],
       [308, 309, 310, 311]])