## Kantelen ##

In [3]:
import pandas as pd

In [61]:
df = pd.DataFrame({'var1':[1,2,3,4],'var2':[5.0,4.4,3.7,2.1],'var3':[234,345,677,788]}, index=['AAA','BBB','CCC','DDD'])
df.name = "Test data"
df.index.name = "Category"
df.columns.name = "Measurements"
df

Measurements  var1  var2  var3
Category
AAA              1   5.0   234
BBB              2   4.4   345
CCC              3   3.7   677
DDD              4   2.1   788

In [66]:
long = df.stack()
long

Category  Measurements
AAA       var1              1.0
          var2              5.0
          var3            234.0
BBB       var1              2.0
          var2              4.4
          var3            345.0
CCC       var1              3.0
          var2              3.7
          var3            677.0
DDD       var1              4.0
          var2              2.1
          var3            788.0
dtype: float64

In [67]:
long.unstack()

Measurements  var1  var2   var3
Category
AAA            1.0   5.0  234.0
BBB            2.0   4.4  345.0
CCC            3.0   3.7  677.0
DDD            4.0   2.1  788.0

In [63]:
df

Measurements  var1  var2  var3
Category
AAA              1   5.0   234
BBB              2   4.4   345
CCC              3   3.7   677
DDD              4   2.1   788

In [19]:
df.pivot("A","B")

       C
B      2      3      4      5
A
1    NaN    NaN    NaN  234.0
2    NaN    NaN  345.0    NaN
3    NaN  677.0    NaN    NaN
4  788.0    NaN    NaN    NaN

In [21]:
df.transpose()

Category    0    1    2    3
A           1    2    3    4
B           5    4    3    2
C         234  345  677  788

In [23]:
df.columns.name = "Waarde"

In [24]:
df.columns

Index(['A', 'B', 'C'], dtype='object', name='Waarde')

In [56]:
df.index

RangeIndex(start=0, stop=4, step=1, name='Category')

In [54]:
df

Waarde    A  B    C
Category
0         1  5  234
1         2  4  345
2         3  3  677
3         4  2  788

In [43]:
c = df['B'].astype('category')

In [45]:
c[5]=11

ValueError: [5] not contained in the index

In [44]:
c

Category
0     5
1     4
2     3
3     2
4    10
Name: B, dtype: category
Categories (5, int64): [2, 3, 4, 5, 10]